$primary-color: #050505;
$primary-color-variant: #151515;

$secondary-color: #ffffff;
$secondary-color-variant: #ffffff26;

$accent-color: rgb(123 45 195);
$accent-color-variant: rgb(123, 45,195, .3);

$gradiant-color: #131019 10%, $primary-color;

$website-padding: 5vw;
$basic-radius: 5px;
$basic-shadow: 0 0 2px $secondary-color-variant;

.underlineAnim {
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $secondary-color;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .3s ease-in-out;
    }

    &:is(:hover, :focus-within)::after {
        transform-origin: left;
        transform: scaleX(1);
    }
}